# Java / Spring Boot
target/
*.iml
.idea/
*.log
*.class
*.jar
*.war
*.ear
/.DS_Store

# Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Angular frontend
vlink-frontend/node_modules/
vlink-frontend/dist/
vlink-frontend/.angular/cache/
vlink-frontend/.angular/config.json

# OS/IDE related
*.swp
*.swo
*.bak
*.tmp
*.orig
.vscode/
*.log
